@import 'vars'
@import 'mixins'
@import 'type'
@import 'navbar'
@import 'hero'
@import 'page-modules'
@import 'cards'
@import 'progressbars'
@import 'check-group'

@import 'bbpress'
@import 'misc-styles'

html
  position: relative
  min-height: 100%

body
  margin-bottom: 290px

.primary
  color: $primary

a
  color: $primary
  transition: all 300ms

  &:hover
    color: darken($primary, 10%)
    text-decoration: none

  &:active,
  &:focus
    color: darken($primary, 10%)
    text-decoration: underline

footer
  position: absolute
  width: 100%
  bottom: 0
  height: 244px
  line-height: 244px
  background-color: $grey
  color: $white
  font:
    family: 'Teko', sans-serif
    size: 1.2em

  p
    margin: 0
    padding: 0

  .right
    text-align: right

@media screen and (max-width: 767px)
  footer
    line-height: 24px !important
    padding-top: 110px
    text-align: center

    .right
      text-align: center
